<h1>My tasks</h1>

<ul>
<% @tasks.each do |task| %>
  <li>
    <div>
      <input type="checkbox" id="task" name="task"
         <% if task.completed == true %>
         checked>
         <% end %>
      <label for="task">
        <%= link_to task.title, task_path(task) %>
      </label>
      <p><%= task.details %></p>
    </div>
  </li>
<% end %>
</ul>
